# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio Files
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.suo
*.sdf
*.opensdf
*.lastbuildstate

# Others
*.log
*.tlog
Debug/*
Release/*
!Debug/*.exe
!Release/*.exe